section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Gray-50, #f9fafb);
  width: 100vw;
  max-width: 1250px;
}
.container {
  display: flex;
  padding: 96px 135px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  flex: 1 0 0;
}

.star {
  display: flex;
  align-items: center;
  gap: 4px;
}
.txt {
  color: var(--Gray-900, #101828);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.88px;
  width: 420px;
}
.final {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.auth .left {
  display: flex;
  width: 56px;
  height: 56px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background-color: #d1e9ff;
}
.auth .right {
  margin-right: 60px;
}
.auth .right .top {
  color: var(--Gray-900, #101828);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.auth .right .down {
  color: var(--Gray-600, #475467);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.arrows {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
.arrows .left,
.arrows .right {
  display: flex;
  width: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 28px;
  border: 1px solid var(--Blue-100, #d1e9ff);
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(4px);
}
.right-side {
  height: 496px;
  flex: 1 0 0;
}
.right-side .top {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}
.right-side .down {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

@media screen and (max-width: 600px) {
 section{
    max-width: 980px;
    padding: 26px;
    flex-wrap: wrap;
 }
}