<section>
    <div class="container">
        <div class="top">
            <p>Join 1,500+ companies already video conferencing the ClearLink way</p>
        </div>
        <div class="down">
            <img src="../../assets/Shopify.com svg.svg" alt="">
            <img src="../../assets/Coinbase svg.svg" alt="">
            <img src="../../assets/Dropbox svg.svg" alt="">
            <img src="../../assets/Intercom svg.svg" alt="">
            <img src="../../assets/Marvel svg.svg" alt="">
            <img src="./../../assets/Automattic svg.svg" alt="">

        </div>
    </div>
</section>