<section>
    <div class="top">
        <p class="txt-1">Uniting the world,<br>one video call at a time</p>
        <p class="txt-2">Experience the future of communication with ClearLink – where crystal-clear video conferencing meets unparalleled simplicity.</p>
    </div>
    <div class="middle">
        <button class="hover:bg-blue-900">Start your free trial</button>
        <div class="disco">
            <img src="../../../assets/assistant.svg" alt="">
        <p class="disco-txt">Discover AI assistant</p>
        </div>
    </div>
    <div class="down">
        <div class="avatar">
            <img class="av" src="../../../assets/avatar1.png" alt="">
            <img class="av" id="shift"  src="../../../assets/Avatar2.png" alt="">
            <img class="av" id="shift" src="../../../assets/avatar3.png" alt="">
            <img class="av" id="shift" src="../../../assets/avatar4.png" alt="">
            <img class="av" id="shift" src="../../../assets/avatar5.png" alt="">

        </div>
        <div class="rating">
            <div id="top">
                <div class="stars">
                    <img src="../../../assets/Star.svg" alt="">
                    <img src="../../../assets/Star.svg" alt="">
                    <img src="../../../assets/Star.svg" alt="">
                    <img src="../../../assets/Star.svg" alt="">
                    <img src="../../../assets/Star.svg" alt="">
                </div>
                <p>5.0</p>

            </div>
            <div id="down">
                <p>from 3,000+ reviews</p>
            </div>
        </div>

    </div>
</section>