<section>
    <div class="container">
        
            <div class="top">
                @for (card of cardtop; track card.head) {
                <div class="card">
                    <div class="icon">
                        <img [src]="card.icon" alt="">
                    </div>
                    <div class="txt">
                      <p class="txt-1">{{card.head}}</p>
                      <p class="txt-2">{{card.sub}}</p>
                    </div>
                  </div>
                }
            </div>
            
       
        
            <div class="down">
                @for (card2 of carddown; track card2.head) {
                <div class="card">
                    <div class="icon">
                        <img [src]="card2.icon" alt="">
                    </div>
                    <div class="txt">
                      <p class="txt-1">{{card2.head}}</p>
                      <p class="txt-2">{{card2.sub}}</p>
                    </div>
                  </div>
                }
            </div>
        
    
    </div>
    
</section>