<section>
    <nav>
        <div class="wrapper">
            <div class="logo">
                <img src="../assets/logo.svg" alt="logo">
            </div>
            <ul class="nav-items">
                <li><a href="">Products</a> <img src="../../../assets/chevron-down.svg" alt="arrow pointing down"></li>
                <li><a href="">Solutions</a><img src="../../../assets/chevron-down.svg" alt="arrow pointing down"></li>
                <li><a href="">Reesources</a><img src="../../../assets/chevron-down.svg" alt="arrow pointing down"></li>
                <li><a href="">Pricing</a></li>
    
            </ul>
            <div class="btns">
                <div class="btn-primary">
                    <button class="">Talk to sales</button>
                </div>
                <div class="btn-secondary">
                    <button >Sign up for free</button>
                </div>
            </div>
        </div>
    </nav>
    
</section>